<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Home</title>
	</head>

	<body>
		<h1>
			Web Development
		</h1>
		<h2>Frontend</h2>
		<ul>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="colorGame.html">ColorGame</a>
				<p>
					An example of event handler in Javascript. Only plain vanila CSS.
				</p>
			</li>
			<li>
				<a href="/ToDoList/index.html">ToDoList</a>
				<P>
					Add/Remove elements using Javascript. jQuery is used.
				</P>
			</li>
			<li>
				<a href="/PatatabClone/index.html">Patatap</a>
				<P>
					Includes Paper.js, an external library for vector graphs.
				</P>
			</li>
		</ul>
		<h2>Backend</h2>
	</body>
</html>