body {
    background-color: #232323;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-color: purple;
    float:left;
    border-radius: 15%;
    transition: background 0.1s;
    --webkit-transition: background 0.1s;
    --moz-transition: background 0.1s;    
}

#container {
    margin: 10 auto;
    max-width: 600px;
}
h1 {
    color: white;
    text-align: center;
    line-height: 1.3;
    background-color: steelblue;
    margin:0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

span {
    color: white;
}
#colorDisplay {
    font-size: 200%;
}

#spripe {
    background-color: white;
    color: steelblue;
    height: 30px;
    text-align: center;
}

#message{
    display: inline-block;
    width:20%;
    text-transform: uppercase;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    font-weight: 700;
}


.selected {
    color:white;
    background-color: steelblue;
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.1s;
    outline: none;
    --webkit-transition: all 0.1s;
    --moz-transition: all 0.1s;    
}

button:hover {
    color:white;
    background-color: steelblue;
}