<%- include("partials/header") %>
<link rel="stylesheet" href="app.css">

<h1>
	Thisis the home page
</h1>

<ul>
	<li>7/24/2020 - Adds Post Request Demo - List Friends</li>
</ul>

<%- include("partials/footer") %>